*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header h1{
    width: 152px;
    height: 30px;
    background-image: url(../images/Logo.png);
    background-size: 100%;
    text-indent: -99999999px;
    margin-top: 30px;
    margin-left: 40px;
}
header h1 a{
    display: block;
    width: 152px;
    height: 30px;
}
body{
    background-color: #5F6472;
}
.maincontainer{
    width: 270px;
    position: absolute;
    top: 174px;
    margin-left: 40px;
    text-align: left;
}
.maincontainer h2{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    color: #979797;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}
.maincontainer li{
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
}
.maincontainer li button{
    width: 100%;
    height: 100%;
    text-align: left;
    font-size: 22px;
    background: none;
	color: #979797;
	border: none;
    border-radius: 10px;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}
.maincontainer li button:hover{
    background: linear-gradient(90deg, rgba(45, 48, 56, 0) 22.92%, #2D3038 100%);
    color: #ffffff;
}
.maincontainer li .active{
    background: linear-gradient(90deg, rgba(45, 48, 56, 0) 22.92%, #2D3038 100%);
    color: #ffffff;
}
.cargocontainer{
    width: 60%;
    height: 700px;
    background: linear-gradient(124.01deg, #2D3038 0%, rgba(45, 48, 56, 0) 100%);
    border-radius: 30px;
    position: relative;
    margin-top: 122px;
    margin-left: 360px;
}
.cargocontainer .companyInfo{
    width: 236px;
    position: absolute;
    top: 30px;
    left: 52px;
}
.companyInfo h3{
    width: 600px;
    font-size: 54px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: lighter;
    margin-bottom: 10px;
}
.companyInfo a{
    color: #979797;
    font-size: 16px;
}
.boxesValue{
    width: 320px;
    position: absolute;
    top: 158px;
    left: 52px;
}
.boxesValue p{
    font-size: 16px;
    font-weight: 600;
    color: #979797;
    padding: 10px 0px;
    font-family: 'Roboto', sans-serif;
}
#boxes{
    width: 100%;
    height: 50px;
    outline: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
h4{
    font-size: 34px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #979797;
    position: absolute;
    top: 272px;
    left: 52px;
}
.cargocontainer span{
    position: absolute;
    top: 316px;
    left: 52px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 500;
}
